*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", serif;
}
.agent-info{
    display: flex;
    gap: 20px;
    margin-bottom: 25px;
}
.agent-photo{
    width: 400px;
    height: 460px;
    float: right;
    border:2px solid #000000;
    background-color: #ffffff;
    background-size: cover;
    background-position: center;
    margin-left: 30px;
    margin-right: 10px;
}
.agent-photo:hover{
    cursor: pointer;
    border: 3px solid maroon;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5)
}
.agent-details{
    flex: 1;
    float:left;
    margin-right: 30px;
    min-height: 460px;
    }
.agent-details2{
    flex: 1;
    float:left;
    margin-right: 30px;
    width: 1000px;
    margin-left: 30px;
}
.agent-details3{
    flex: 1;
    float:left;
    margin-right: 30px;
    width: 1000px;
    margin-left: 30px;
    margin-bottom: 30px;
}
.agent-details h2{
    margin: 0;
    font-size: 22px;
}
.agent-details p{
    margin: 8px 0;
    font-size: 16px;
}
.notes{
    border-top: 1px solid #000000;
    padding-top: 20px;
    margin-left: 30px;
    margin-right: 30px;
}
.notes h3{
    text-transform: uppercase;
    margin-bottom: 10px;
}
.notes p{
    font-size: 15px;
    line-height: 1.6;
}
.footer-individual{
    text-align: center;
    font-size: 14px;
    opacity: 0.7;
}
.individuals-footer{
    padding-top: px;
}