*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", serif;
}
.individual-main{
    background-color: white;
    min-height: 100vh;
}
.case-files-Header1{
    text-align: center;
    border-bottom: 1px solid #000000;
    padding-bottom: 15px;
    margin-bottom: 20px;
    margin-left: 30px;
    margin-right: 30px;
}
.case-files-Header1 h1{
    font-size: 28px;
    text-transform: uppercase;
    letter-spacing: 1px;
    padding-top: 10px;
}
.case-files-Header2{
    text-align: center;
    color: #ffffff;
    font-size: 25px;
    text-transform: uppercase;
    letter-spacing: 3px;
    padding-top: 10px;
    padding-bottom: 15px;
    margin-bottom: 20px;
    margin-left: 30px;
    margin-right: 30px;
    background-color: black;
}
.case-files-Header3{
    text-align: center;
    color: #ffffff;
    font-size: 25px;
    text-transform: uppercase;
    letter-spacing: 3px;
    padding-top: 10px;
    padding-bottom: 15px;
    margin-bottom: 20px;
    margin-left: 30px;
    margin-right: 30px;
    background-color: black;
}
.case-files-Header4{
    text-align: center;
    color: white;
    font-size: 25px;
    text-transform: uppercase;
    letter-spacing: 3px;
    padding-top: 10px;
    padding-bottom: 15px;
    margin-bottom: 20px;
    margin-left: 30px;
    margin-right: 30px;
    background-color: black;
}
.classified-stamp{
    display: inline-block;
    color: red;
    font-weight: bold;
    border: 2px solid red;
    padding: 5px 10px;
    margin-top: 10px;
    text-transform: uppercase;
    transform: rotate(-5deg);
}
/* MIID*/
.individual-table{
    border: 2px solid black ;
}
.individual-table2{
    border: 2px solid black ;
    margin-top: 10px;
    min-height: 210px; 
}
.individual-table3{
    height: 200px;
}
.individual-table3 tr td{
    border: 2px solid black ;
}
/* .agent-info1{
    display: flex;
    gap: 20px;
    margin-bottom: 25px;
    margin-left: 30px;

}
.agent-details1{
    flex: 1;
    float:left;
    margin-right: 30px;
    margin-left: 30px;
    min-height: 460px;
} */
.individual-table p{
    margin-right: 30px;
    padding-top: 10px;
    padding-left: 10px;
}
.individual-table3 p{
    margin-right: 30px;
    padding-top: 10px;
    padding-left: 100px;
}
.agent-info{
    display: flex;
    gap: 20px;
    margin-bottom: 25px;
}
.agent-photo{
    width: 400px;
    height: 460px;
    float: right;
    border:2px solid #000000;
    background-color: #ffffff;
    object-fit: cover;
    background-position: center;
    margin-left: 30px;
    margin-right: 10px;
}
.agent-photo:hover{
    /* transform: scale(1.1); */
    cursor: pointer;
    border: 3px solid maroon;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5)
}
.agent-details{
    flex: 1;
    float:left;
    margin-right: 30px;
    min-height: 460px;
    }
.agent-details2{
    flex: 1;
    float:left;
    margin-right: 30px;
    width: 1000px;
    margin-left: 30px;
}
.agent-details3{
    flex: 1;
    float:left;
    margin-right: 30px;
    width: 1000px;
    margin-left: 30px;
    margin-bottom: 30px;
}
.agent-details h2{
    margin: 0;
    font-size: 22px;
}
.agent-details p{
    margin: 8px 0;
    font-size: 16px;
}
.footer-individual{
    text-align: center;
    font-size: 14px;
    opacity: 0.7;
}
.individuals-footer{
    padding-top: px;
}
