*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", serif;
}

.application-body{
    background: linear-gradient(to right, #0f0f0f, #1a1a1a, #2e2e2e, #3b3b3b);
    display: flex;
    height:100vh;
    margin-top: 25px;
    margin-bottom: 25px;
    justify-content:center;
    align-items: center;
}
.container-reg .user-details {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}
.input-box {
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
}

.input-box input,
.input-box select {
    height: 45px;
    padding: 10px;
    font-size: 18px;
    border: none;
    border-radius: 4px;
}

.details {
    color: white;
    margin-bottom: 5px;
    font-family: 'Oswald-Bold', sans-serif;

}
.input-row {
    display: flex;
    gap: 20px;
    width: 100%;
}
.input-row .input-box {
    flex: 1;
}
form .user-details-gender .gender-title{
    font-size:20px;
    color: white;
    font-weight: 500;
}
form .user-details-gender .category{
    display: flex;
    width:20%;
    margin: 14px 0px;
    justify-content: space-between;
    color: white;
}
.application-button {
    width: 100%;
    height: 50px;
    padding-top: 15px;
    padding-bottom: 10px;
    background: rgba(0, 0, 0, 0.4);
    font-size: 18px;
    margin-top: 20px;
    color: lightgrey;
    z-index: 1;
    position: relative;
    overflow: hidden;
    border: none;
    cursor: pointer;
    font-family: 'Oswald-Bold', sans-serif;
    font-weight: 600;
}

.application-button::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0; /* <- key change */
    width: 15%; /* 1/4 of the button */
    height: 100%;
    background-color: crimson;
    z-index: 0;
    transform: translateX(100%); /* <- reverse direction */
    transition: transform 0.4s ease; /* fixed the typo here too */
}

.application-button:hover::before {
    transform: translateX(0);

}