@font-face {
    font-family: 'Oswald-Bold';
    src: url('../fonts/Oswald-Bold.ttf') format('.ttf');
    font-weight: 700;
}
@keyframes fadeDown{
     0% {
    opacity: 0;
    transform: translateY(-20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", serif;
}
body{
opacity: 0; 
transform: translateY(-20px); 
animation: fadeDown 1.5s ease-out forwards;
background: linear-gradient(to right, #0f0f0f, #1a1a1a, #2e2e2e, #3b3b3b);
}

/*navbar*/
.navbar ul{
    list-style-type: none;
    background-color: #121212;
    padding: 0px;
    margin: 0px;
    transform: 0.6s;
    overflow: hidden;
}
.navbar a{
    color: #e1e0e0;
    text-decoration: none;
    margin-top: 5px;
    padding-top: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
    padding-left: 20px;
    display: block;
    text-align: center;
}
.navbar a:hover{
    background-color: rgb(55, 53, 53);
    text-decoration: underline;
    text-decoration-color: #f21414;
}

.navbar li{
    float: left;
    text-align: center;
}

/*logo*/

.logo{
    padding-top: 2px;
    text-align: left;
    align-items: center;
    color: #e1e0e0;
    float: left;
    display: block;
}
a.active{
    background-color: rgb(55, 53, 53);
}

